<!-- Template for rendering the tasks list -->

{% if not todo_list %}
<!-- show if not todos -->
<div class="bg-gray-100 p-5 flex flex-col gap-5 items-center border border-gray-300 rounded-lg">
  <img src="{{ url_for('static', filename='images/empty-list.svg') }}" alt="Empty todo list illustration"
    class="max-w-md" />
  <div class="text-xl font-medium text-gray-500 max-w-md">
    <p class="text-center">
      <span class="text-emerald-500 font-bold">Amazing!</span>
      <span>You've cleared your whole todo list. There's nothing left to do.</span>
    </p>
  </div>
</div>

{% else %}
<!-- show if todos exist -->
<ul id="todo-list" class="flex flex-col gap-4">
  {% for todo in todo_list %}
  <li
    class="todo-item px-2 py-2 flex flex-row gap-4 items-start bg-emerald-200 even:bg-emerald-300 border border-emerald-500 rounded">
    <div class="">
      <form data-todo-toggle action="{{ url_for('todo.toggle') }}" method="post">
        <input type="hidden" name="todo_id" value="{{ todo['id'] }}" />
        <button type="submit"
          class="todo-checkbox size-7 bg-emerald-50 border-2 border-emerald-500 rounded flex items-center justify-center hover:cursor-pointer"
          tabindex="0" role="switch" aria-checked="{{'true' if todo['is_completed'] else 'false' }}">
          <div
            class="todo-checkmark size-4 rounded-sm bg-emerald-500 {{'block' if todo['is_completed'] else 'hidden' }}">
          </div>
        </button>
      </form>
    </div>

    <div class="todo-description flex-grow self-center">
      <p class="text-emerald-900 text-sm font-medium {{'line-through' if todo['is_completed'] }}">
        {{ todo["description"] }}
      </p>
    </div>

    <div class="todo-action flex flex-row gap-4 items-center">
      <div
        class="action-edit size-7 flex items-center justify-center bg-emerald-50 border-2 border-emerald-500 rounded hover:cursor-pointer"
        tabindex="0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-5 text-emerald-700 stroke-2">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
        </svg>
      </div>

      <form data-todo-delete action="{{ url_for('todo.delete') }}" method="post">
        <input type="hidden" name="todo_id" value="{{ todo['id'] }}" />
        <button type="submit"
          class="action-delete size-7 flex items-center justify-center bg-red-700 rounded hover:cursor-pointer"
          tabindex="0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5 text-gray-50 stroke-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}